<?xml version="1.0" encoding="utf-8"?>
<configuration>

    <!--
    To customize the asp.net core module uncomment and edit the following section. 
    For more info see https://go.microsoft.com/fwlink/?linkid=838655
    -->
    <!--
    <system.webServer>
        <handlers>
            <remove name="aspNetCore"/>
            <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModule" resourceType="Unspecified"/>
        </handlers>
        <aspNetCore processPath="%LAUNCHER_PATH%" arguments="%LAUNCHER_ARGS%" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" />
    </system.webServer>
    -->

    <system.web>
        <!-- https://www.allkeysgenerator.com/Random/ASP-Net-MachineKey-Generator.aspx & https://www.getakey.online/ -->
        <machineKey validationKey="DFACD496D0188EBFA55FBAEB9658FB412FFD186BF886BD96A33790E0B3CA7D106425DA98405C9C510037063A0B589BBC744D8A91F89E1448054D357EFE65E707" decryptionKey="829504B5A6B09D842B658AA8D7352CDBAD88F4F687787CF2EBF3CB04AB8A8BD7" validation="SHA1" decryption="AES" />
    </system.web>

</configuration>