<div class="container h-100 d-flex justify-content-center">

  <div class="jumbotron my-auto col-12 col-md-8">

    <h2>Register</h2>

    <ks-message-component></ks-message-component>
    
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">

      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" formControlName="username" class="form-control" />
        <div *ngIf="f.username.touched && f.username.errors" class="text-danger">
          <div *ngIf="f.username.errors.required">Username is required</div>
        </div>
      </div>

      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" formControlName="password" class="form-control" />
        <div *ngIf="f.password.touched && f.password.errors" class="text-danger">
          <div *ngIf="f.password.errors.required">Password is required</div>
          <div *ngIf="f.password.errors.minlength">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" formControlName="confirmPassword" class="form-control" />
        <div *ngIf="f.confirmPassword.touched" class="text-danger">
          <div *ngIf="registerForm.errors?.confirmPassword"> Passsword and ConfirmPassword didn't match. </div>
        </div>
      </div>

      <div class="form-group">
        <button [disabled]="loading" class="btn btn-primary">
          <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
          Register
        </button>
        <a routerLink="/login" class="btn btn-link">Cancel</a>
      </div>

    </form>

  </div>

</div>
