<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<location path="version.json">
		<system.webServer>
			<staticContent>
				<clear/>
				<mimeMap fileExtension=".json" mimeType="application/json" />
			</staticContent>
		</system.webServer>
	</location>
	<system.webServer>

		<!-- EPHF-383 Portal very slow - https://stackoverflow.com/questions/43895483/why-is-a-static-file-on-azure-served-slower-when-served-with-node-instad-of-asp -->
		<serverRuntime enabled="true"  frequentHitThreshold="1"  frequentHitTimePeriod="00:00:20" />

		<staticContent>
			<remove fileExtension=".woff" />
			<remove fileExtension=".woff2" />
			<remove fileExtension=".eot" />
			<remove fileExtension=".ttf" />
			<remove fileExtension=".svg" />
			<mimeMap fileExtension=".woff" mimeType="application/font-woff" />
			<mimeMap fileExtension=".woff2" mimeType="font/x-woff" />
			<mimeMap fileExtension=".eot" mimeType="application/vnd.ms-fontobject" />
			<mimeMap fileExtension=".ttf" mimeType="application/font-sfnt" />
			<mimeMap fileExtension=".svg" mimeType="image/svg+xml" />
			
			<remove fileExtension=".json" />
			<mimeMap fileExtension=".json" mimeType="application/json" />
			
		</staticContent>  
		<rewrite>
			<rules>
				<rule name="redirect all requests" stopProcessing="true">
					<match url="^(.*)$" ignoreCase="false" />
					<conditions logicalGrouping="MatchAll">
						<add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" pattern="" ignoreCase="false" />
					</conditions>
					<action type="Rewrite" url="index.html" appendQueryString="true" />
				</rule>
			</rules>
		</rewrite>
	</system.webServer>
</configuration>